@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Quantico:wght@400;700&family=Raleway&family=Roboto&family=Ubuntu&display=swap');

* {
    padding: 0;
    margin: 0;
    /* border: 1px solid black; */
}
.main{
    height: auto;
}
.img-div{
    background: url(images/main_bg.png);
    height: 80vh;
    background-size: cover;
}
.contents{
    /* border: 1px solid black; */
    height: 100vh;
    position: relative;
    left: 40px;
    width: calc(100% - 40px);
}
.start_head{
    position: relative;
    top: 200px;
    
    /* border: 1px solid black; */
    font-size: 75px;
    width: 400px;
    color: #FFAE15;
    font-family: 'Ubuntu', sans-serif;
}





.but-con{
    margin-top: 250px;
}
select{
    
    width: 170px;
    height: 48px;
    border-radius: 6px;
    font-size: 22px;
    padding: 10px;
    border: none;
    background: linear-gradient(#FF6400, #FFAE15);;
    color: white;
    outline: none;
    /* margin: 20px 22px; */
    /* margin-top:-5px ; */
    font-family: 'Quantico';
    -webkit-appearance: none;
    font-weight: bold;
    text-align: center;
  }
  option{
    padding: 10px;
    color: black;
  }
  .team_code{
    width: 170px;
    height: 48px;
    border-radius: 6px;
    font-size: 16px;
    padding: 0 10px;
    border: none;
    background: #EFEFEF;
    color: black;
    position: relative;
    top: -2px;
    margin-left:  10px;



    
  }
  .batch_id{
    height: 55px;
  }
  .team_code::placeholder{
    font-weight: 500;
    color: #000000;
    font-family: 'Ubuntu';
    text-align: center;
  }
.input-main {
    display: flex;
    justify-content: left;
    align-items: center;
    /* border: 1px solid black; */
   margin-top: 15px;
   
    
}
.input-add-btn-bot {
    border: 0px solid black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000000;
    background-color: green;
    color: white;
}

.input-field{
    position: relative;
  }
  .input-field input{
    width: 300px;
    height: 54px;
    border-radius: 15px;
    font-size: 18px;
    padding: 0 15px;
    border: 2px solid #000;
    background: transparent;
    color: black;
    outline: none;
    margin-right:  5px;
    border: none;
    background: #EFEFEF;
  }
  .input-field input::placeholder{
    font-weight: 500;
    color: #000000;
    font-family: 'Ubuntu';
    text-align: left;
  }
  .input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: rgba(#020202,#020202,#020202,0.02);
    font-size: 18px;
    pointer-events: none;
    transition: 0.3s;
    font-weight: 500;
    color: #000000;
    font-family: 'Ubuntu';
    text-align: left;
  }
  input:focus{
    border: 2px solid #FF6400;
  }
  input:focus ~ label,
  input:valid ~ label{
    top: 0;
    left: 15px;
    font-size: 15px;
    padding: 0 5px;
    background: #FF6400;
    color: #fff;
  }
  .submitbtn {
    border: 0px solid red;
    height: 50px;
    width: 280px;
    align-self: flex-end;
    margin-right: 30px;
    border-radius: 50px;
    background: #1E1E1E;
    /* FONTS */
    font-family: 'Quantico', sans-serif;
    font-size: 25px;
    color: #fefefe;
    margin-top: 30px;
}
.add-user:hover {
    background-color: #fff;
    font-size: 17px;
    /* margin: 0px 35px; */
    color: green;
    border: 2px solid green;
    transition: all 0.2s;
}
.del-us {
    background-color: #8b0000;
    font-size: 17px;
    /* margin: 0px 35px; */
    height: 35px;
    width: 35px;
    /* margin-left:220px; */
}

.del-us:hover {
    background-color: #fff;
    font-size: 17px;
    /* margin: 0px 35px; */
    color: #8b0000;
    border: 2px solid #8b0000;
    transition: all 0.2s;
}
.table-wrapper table {
  border-radius:10px;
  border-collapse: collapse;
  text-align: center;
  width:100%;
 
  /* border: 1px solid black; */
}
.container{
  border-radius:20px;
  /* border: 1px solid black; */
  margin-top: 100px;
  width:80%;
  position: relative;
  left: 10%;
  padding-bottom: 50px;
  font-family: 'Ubuntu';
}
.table-wrapper table th,
.table-wrapper table td {
  padding: 15px 25px;
  text-align: left;
  /* border: 2px solid black; */
}

.table-wrapper table th {
  color: white;
  background: #FF6901;
  text-align: left;
}
.table-wrapper table tbody tr{
  background: #E8E8E8;
}
.table-wrapper table tbody tr:nth-of-type(even) > * {
  background: #F4F4F4;
}
